@import "tailwindcss";

@theme {
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-400)
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
